<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Marketing Email</title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<p th:text="${'Hello ' + fullName + '!'}"></p>

<p th:text="${text}"></p>

<div style="display: flex; flex-direction: column;">
    <img alt="product image" style="width: 50%; height: auto; max-width: 15rem; margin-bottom: 1rem;"
         th:src="${productImageUrl}">
</div>

<p>
    To unsubscribe from our emails, click <a th:href="${unsubscribeUrl}">here</a>.
</p>
</body>
</html>